
#part1{
    display: inline-block;
    width: 100%;
    height: 30rem;
    /* background-color: rgb(189, 189, 189); */
    margin-top: 15%;
    margin-bottom: 15%;
    overflow: visible;
}

#line{
    display: inline-block;
    background-color: #5AA854;
    width: 8px;
    height: 60%;
    border-radius: 5px;
    margin-left: 5%; 
    margin-right: 4%;
}

#text{
    display: inline-block;
    width:50%;
    /* background-color: #669262; */
    margin-left: 1%;
} 

#text h1{
    font-size:4vw;
    color: #EE8F3B;
}

#text p{
    font-size: 1.5vw;
}

#image{
    display: inline-block;
    width: 30%;
    height: 100%;
    background-image: url("../images/food.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 2%;
    margin-bottom: -3%;
}

#part2{
    width: 80%;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
    /* background-color: rgb(134, 134, 150); */
}

#box1{
    display: inline-block;
    width: 20%;
    /* background-color: rgb(187, 132, 132); */
    margin-left: 10%;
}

#box1 img{
    width:100%;
    height:80%;
}

#box1 h1{
    font-size: 2vw;

}

#box1 p{
    font-size: 1vw;
    margin-top: 2%;
}

#box1 a{
    display: inline-block;
    align-content: center;
    height:auto;
    width: 60%;
    text-decoration: none;
    color:#0470AC;
    border-radius: 15px; 
    border:solid 2px #0470AC;   
    margin-top: 3%;
    padding-left:5%;
    /* padding-right: 4%; */
    font-size: 1.5vw;
}

#box2{
    display: inline-block;
    width: 20%;
    /* background-color: rgb(187, 132, 132); */
    margin-left: 10%;
    margin-right: 10%;
}

#box2 img{
    width:100%;
    height:80%;
}

#box2 h1{
    font-size: 2vw;

}

#box2 p{
    font-size: 1vw;
    margin-top: 2%;
}

#box2 a{
    display: inline-block;
    align-content: center;
    height:auto;
    width: 60%;
    text-decoration: none;
    color:#0470AC;
    border-radius: 15px; 
    border:solid 2px #0470AC;   
    margin-top: 3%;
    padding-left:5%;
    /* padding-right: 4%; */
    font-size: 1.5vw;
}

#box3{
    display: inline-block;
    width: 20%;
    /* background-color: rgb(187, 132, 132); */
}

#box3 img{
    width:100%;
    height:80%;
}

#box3 h1{
    font-size: 2vw;

}

#box3 p{
    font-size: 1vw;
    margin-top: 2%;
}

#box3 a{
    display: inline-block;
    align-content: center;
    height:auto;
    width: 60%;
    text-decoration: none;
    color:#0470AC;
    border-radius: 15px; 
    border:solid 2px #0470AC;   
    margin-top: 3%;
    padding-left:5%;
    /* padding-right: 4%; */
    font-size: 1.5vw;
}

#part3 {
    width: 60%;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #668564; */
}

#part3 h1{
    text-align: center;
    font-size: 32px;
    color:#0470AC;
}

#part3 a{
    overflow: visible;
    font-size: 20px;
    display: inline-block;
    height:25px;
    width: 125px;
    text-decoration: none;
    color:#0470AC;
    border-radius: 25px; 
    border:solid 2px #0470AC;   
    margin-top: 5%;
    margin-left: 40%;
    padding-left: 1%;
    padding-right: 1%;
}

/* @media screen and (max-width:820px) {
    #part2{
        margin-top: 5%;
    }
    
} */

@media screen and (max-width:820px) {

    #line{
        display: none;
    }

    #part1{
        width: 100%;
        display: block;
        margin-bottom: none;
        /* background-color: #EE8F3B; */
        text-align: center;
        height:45rem;
    }

    /* #image{
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: none;
        width: 60%;
        height: auto;
    } */

    #text{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    #text p{
        font-size: 2vw;
    }

    #part2{
        /* background-color: #5AA854; */
        display: block;
        margin-top: -10%;
    }

    #box1, #box2, #box3{
        display: block;
        width:40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
    }

    #part2 h1{
        font-size: 3vw;
    }

    #part2 p{
        font-size: 2vw;
    }

    #part2 a{
        font-size: 3vw;
    }
   
}

@media screen and (max-width:480px) {

    #part1{
        height: 35rem;
    }

    #text p{
        font-size: 3vw;
    }

    #box1, #box2, #box3{
        width: 80%;
    }

    #part2 h1{
        font-style: italic;
    }

    #part2 p{
        font-size: 3vw;
    }

    #part2 a{
        width: 30%;
    }

     #part3 a{
        margin-left: 20%;
    }

}
@media screen and (max-width:400px) {
    /* #part3 a{
        font-size: 4vw;
        width:120px;
        height: 20px;
    } */
    
}