#description{
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 10rem;
    /* background-color:rgb(175, 182, 168); */
    overflow: visible;
}

#line{
    display: inline-block;
    width:8px;
    height: 80%;
    margin-left: -4%;
    background-color: rgb(142, 142, 153);
    border-radius: 10px;
}

#description h1{
    display: inline-block;
    color:#EE8F3B;
    font-size: 3vw;
    width: fit-content;
    margin-left: 3%;
}

#description p{
    font-size: 20px;

}

table{
    width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    text-align: left;
    font-size: 18px;
}

th{
    color: #0470AC;
    font-size: 2vw;
}

th, td{
    padding-left: 2%;
}

tr{
    height:70px;
}

tr:nth-child(even){
    background-color: rgb(172, 172, 172);
}

td:nth-child(3){
    text-align: center;
    width: 10%;
    background-color: #EE8F3B;
}

td a{
    text-decoration: none;
    color:#0470AC;
}

@media screen and (max-width:820px) {
    th{
        font-size: 3vw;
    }

    table{
        font-size: 2vw;
    }
    
}

@media screen and (max-width:480px) {

    #description{
        height: fit-content;
    }

    th{
        font-size: 5vw;
    }

    table{
        font-size: 3vw;
        width: 100%;
    }

}
